.azeret-mono-uniquifier {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
 
 nav ul li{
    list-style-type: none;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}
.name{
    font-weight:bolder;
    font-size: x-large;
    
    
}
li button{
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    margin-right: 150px;
    color: #0D1321;
}

.heading{
 background-image: url(../assets/Hero-bg.png);  
}

.work-description,.future-developer,.btn,.picture{
    text-align: center;
}

.future-developer h4{
    font-size: x-large;
}

.abt-development{
    text-align: center;
    padding-top: 20px;
}
.about{
    background-color: #e8ebee24;
    border-radius: 15px;
    margin: 40px;
}

.dev-goal-1,.dev-goal-2,.dev-goal-3{
    display: flex;
    justify-content: center;
    gap: 300px;
    border-radius: 15px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
    margin:0px 50px 20px;
    padding-top: 10px;
    
    
      
}

.inspiration-title{
    text-align: center;
}

.inspiration-video{
    border: 2px solid whitesmoke;
    border-radius: 15px;
    text-align: center;
    margin: 40px;
    /* margin:30px 60px 10px; */
}

iframe{
    border-radius: 15px;
    padding: 10px;
}

.current-target-goal{
    text-align: center;
}

.skills-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    
    
    
}

.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.05);
    
    
}

.html-color{
    background-color:rgba(234, 202, 202, 0.943) ;
}

.css-color{
    background-color: rgba(110, 172, 178, 0.858);
}

.js-color{
    background-color: antiquewhite;
}

.html-color,.css-color,.js-color,.skill{
    border-radius: 20px;
}


.target-skill{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.05);
    margin:0px 50px 20px;
    padding: 15px;
    height: 150px;
   
}
.target-next{
    text-align: center;
    margin-top: 15px;
}
/* shared style */
.target-titl{
    font-weight: 700;
}
.learn-more{
    padding-top: 15px;
}



.feedback{
    text-align: center;
    background: url(../assets/handshake.jpg);
    background-position: center;
    border-radius: 15px;
    padding: 100px;
    margin: 0px 50px 20px;
    
    
    
    
    
}

.sup-feedback{
    display: flex;
    justify-content: center;
    gap: 24px;
    
    
}
.sbt-button{
    border-radius: 5px;
    padding: 10px;
    width: 100px; 
    font-weight: 700;
    
    
}

input{
    width: 500px;
    border-radius: 5px;
    padding: 10px;
    border-color: none;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(246, 236, 236, 0.973);
    margin: 0px 50px 20px;
    border-radius: 5px;
}

.social-link,.social-image{
    display: flex;
    column-gap: 20px;
    
}
